openapi: 3.1.0
info:
  contact: {}
  title: Transactions
  version: 3.9.4
  x-logo:
    url: 'https://tatum.io/images/logo.svg'
    altText: Tatum
  description: |-
      <p>An endpoint used to create and list transactions within Tatum Private Ledger. A transaction is performed between 2 accounts with the same currency. To perform an exchange operation between accounts with different currencies, API calls from <a href="#tag/Ledger-Order-Book">Order Book</a> sections are available. Transactions in the ledger are instant, with a settlement time of below 200ms.<br/>
      Tatum Private Ledger supports microtransactions - a transaction of an amount as little as 1e-30 (30 decimal places). Transactions are atomic.<br/>
      When there is an insufficient balance in the sender account, or recipient account cannot receive funds, the transaction is not settled.</p>
servers:
  - url: 'https://api-eu1.tatum.io'
  - url: 'https://api-us-west1.tatum.io'
tags:
  - description: ''
    name: Payments
  - description: ''
    name: List transcations
  - description: ''
    name: Withdrawal operations
  - description: ''
    name: Offchain withdrawal
paths:
  /v3/ledger/transaction:
    post:
      description: |
        <h4>4 credits per API call.</h4><br/>
        <p>Sends a payment within Tatum Private Ledger. All assets are settled instantly.<br/>
        When a transaction is settled, 2 transaction records are created, 1 for each of the participants. These 2 records are connected via a transaction reference, which is the same for both of them.<br/>
        This method is only used for transferring assets between accounts within Tatum and will not send any funds to blockchain addresses.<br/>
        If there is an insufficient balance in the sender account, no transaction is recorded.<br/>
        It is possible to perform an anonymous transaction where the sender account is not visible for the recipient.<br/>
        The FIAT currency value of every transaction is calculated automatically. The FIAT value is based on the accountingCurrency of the account connected to the transaction and is available in the marketValue parameter of the transaction.</p>
      operationId: sendTransaction
      summary: Send payment
      tags:
        - Payments
      requestBody:
        content:
          application/json:
            schema:
              properties:
                senderAccountId:
                  description: Internal sender account ID within Tatum platform
                  example: 5e6645712b55823de7ea82f1
                  maxLength: 24
                  minLength: 24
                  type: string
                recipientAccountId:
                  description: Internal recipient account ID within Tatum platform
                  example: 5e6645712b55823de7ea82f2
                  maxLength: 24
                  minLength: 24
                  type: string
                amount:
                  description: Amount to be sent.
                  maxLength: 38
                  example: '5'
                  type: string
                  pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                anonymous:
                  default: false
                  description: 'Anonymous transaction does not show sender account to recipient, default is false'
                  example: false
                  type: boolean
                compliant:
                  description: 'Enable compliant checks. Transaction will not be processed, if compliant check fails.'
                  example: false
                  type: boolean
                transactionCode:
                  description: For bookkeeping to distinct transaction purpose.
                  example: 1_01_EXTERNAL_CODE
                  maxLength: 100
                  minLength: 1
                  type: string
                paymentId:
                  description: 'Payment ID, External identifier of the payment, which can be used to pair transactions within Tatum accounts.'
                  example: '9625'
                  maxLength: 100
                  minLength: 1
                  type: string
                recipientNote:
                  description: 'Note visible to both, sender and recipient'
                  example: Private note
                  maxLength: 500
                  minLength: 1
                  type: string
                baseRate:
                  type: number
                  example: 1
                  default: 1
                  minimum: 0
                  description: Exchange rate of the base pair. Only applicable for Tatum's Virtual currencies Ledger transactions. Override default exchange rate for the Virtual Currency.
                senderNote:
                  description: Note visible to sender
                  example: Sender note
                  maxLength: 500
                  minLength: 1
                  type: string
              required:
                - amount
                - recipientAccountId
                - senderAccountId
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  reference:
                    description: 'Transaction internal reference - unique identifier within Tatum ledger. In order of failure, use this value to search for problems.'
                    example: 0c64cc04-5412-4e57-a51c-ee5727939bcb
                    type: string
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to perform the required operation due to a logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: amount.format
                        example: amount.format
                        type: string
                      message:
                        description: Amount has incorrect format.
                        example: Amount has incorrect format.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: senderAccount.not.exists
                        example: senderAccount.not.exists
                        type: string
                      message:
                        description: 'Unable to find sender account ${transaction.senderAccountId}.'
                        example: 'Unable to find sender account ${transaction.senderAccountId}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: compliance.country.btc.not.supported
                        example: compliance.country.btc.not.supported
                        type: string
                      message:
                        description: Customer country not supported for BTC.
                        example: Customer country not supported for BTC.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: compliance.country.eth.not.supported
                        example: compliance.country.eth.not.supported
                        type: string
                      message:
                        description: Customer country not supported for ETH.
                        example: Customer country not supported for ETH.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: rate.not.found
                        example: rate.not.found
                        type: string
                      message:
                        description: No such currency rate.
                        example: No such currency rate.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: vc.not.found
                        example: vc.not.found
                        type: string
                      message:
                        description: No such virtual currency.
                        example: No such virtual currency.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: senderAccount.frozen
                        example: senderAccount.frozen
                        type: string
                      message:
                        description: 'Sender account ${transaction.senderAccountId} is frozen, unable to perform payment.'
                        example: 'Sender account ${transaction.senderAccountId} is frozen, unable to perform payment.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: senderAccount.customer.disabled
                        example: senderAccount.customer.disabled
                        type: string
                      message:
                        description: 'Sender accounts customer ${senderAccount.customerId} is disabled, unable to perform payment.'
                        example: 'Sender accounts customer ${senderAccount.customerId} is disabled, unable to perform payment.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: recipientAccount.not.exists
                        example: recipientAccount.not.exists
                        type: string
                      message:
                        description: 'Unable to find recipient account ${transaction.recipientAccountId}.'
                        example: 'Unable to find recipient account ${transaction.recipientAccountId}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: transaction.currency.incompatible
                        example: transaction.currency.incompatible
                        type: string
                      message:
                        description: 'Incompatible currencies for sender account ${transaction.senderAccountId} and recipient account ${transaction.recipientAccountId}.'
                        example: 'Incompatible currencies for sender account ${transaction.senderAccountId} and recipient account ${transaction.recipientAccountId}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: balance.insufficient
                        example: balance.insufficient
                        type: string
                      message:
                        description: 'Insufficient balance for account ${transaction.senderAccountId} and payment amount ${transaction.amount}. Sender balance is ${senderAccount.balance.availableBalance as string}, amount is ${amount}'
                        example: 'Insufficient balance for account ${transaction.senderAccountId} and payment amount ${transaction.amount}. Sender balance is ${senderAccount.balance.availableBalance as string}, amount is ${amount}'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: amount.btc
                        example: amount.btc
                        type: string
                      message:
                        description: 'BTC|LTC|BCH payment amount must be at least 0.00000000000001, not ${transaction.amount}.'
                        example: 'BTC|LTC|BCH payment amount must be at least 0.00000000000001, not ${transaction.amount}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: transaction.amount.ada
                        example: transaction.amount.ada
                        type: string
                      message:
                        description: 'ADA payment amount must be at least 0.000001, not ${transaction.amount}.'
                        example: 'ADA payment amount must be at least 0.000001, not ${transaction.amount}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: amount.eth
                        example: amount.eth
                        type: string
                      message:
                        description: 'ETH payment amount must be at least 0.000000000001, not ${transaction.amount}.'
                        example: 'ETH payment amount must be at least 0.000000000001, not ${transaction.amount}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: transaction.not.compliant
                        example: transaction.not.compliant
                        type: string
                      message:
                        description: 'Transaction not compliant, recipient account customer country is not defined.'
                        example: 'Transaction not compliant, recipient account customer country is not defined.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/ledger/transaction/batch:
    post:
      description: |
        <h4>2 + 2 * N per API call. (N - count of transactions)</h4><br/>
        <p>Sends the N payments within Tatum Private Ledger. All assets are settled instantly.<br/>
        When a transaction is settled, 2 transaction records are created, 1 for each of the participants. These 2 records are connected via a transaction reference, which is the same for both of them.<br/>
        This method is only used for transferring assets between accounts within Tatum and will not send any funds to blockchain addresses.<br/>
        If there is an insufficient balance in the sender account, no transaction is recorded.<br/>
        It is possible to perform an anonymous transaction where the sender account is not visible for the recipient.<br/>
        The FIAT currency value of every transaction is calculated automatically. The FIAT value is based on the accountingCurrency of the account connected to the transaction and is available in the marketValue parameter of the transaction.</p>
      operationId: sendTransactionBatch
      summary: Send payment in batch
      tags:
        - Payments
      requestBody:
        content:
          application/json:
            schema:
              properties:
                senderAccountId:
                  description: Internal sender account ID within Tatum platform
                  example: 5e6645712b55823de7ea82f1
                  maxLength: 24
                  minLength: 24
                  type: string
                transaction:
                  description: Array of block seals.
                  type: array
                  items:
                    type: object
                    required:
                      - amount
                      - recipientAccountId
                    properties:
                      recipientAccountId:
                        description: Internal recipient account ID within Tatum platform
                        example: 5e6645712b55823de7ea82f2
                        maxLength: 24
                        minLength: 24
                        type: string
                      amount:
                        description: Amount to be sent.
                        maxLength: 38
                        example: '5'
                        type: string
                        pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      anonymous:
                        default: false
                        description: 'Anonymous transaction does not show sender account to recipient, default is false'
                        example: false
                        type: boolean
                      compliant:
                        description: 'Enable compliant checks. Transaction will not be processed, if compliant check fails.'
                        example: false
                        type: boolean
                      transactionCode:
                        description: For bookkeeping to distinct transaction purpose.
                        example: 1_01_EXTERNAL_CODE
                        maxLength: 100
                        minLength: 1
                        type: string
                      paymentId:
                        description: 'Payment ID, External identifier of the payment, which can be used to pair transactions within Tatum accounts.'
                        example: '9625'
                        maxLength: 100
                        minLength: 1
                        type: string
                      recipientNote:
                        description: 'Note visible to both, sender and recipient'
                        example: Private note
                        maxLength: 500
                        minLength: 1
                        type: string
                      baseRate:
                        type: number
                        example: 1
                        default: 1
                        minimum: 0
                        description: Exchange rate of the base pair. Only applicable for Tatum's Virtual currencies Ledger transactions. Override default exchange rate for the Virtual Currency.
                      senderNote:
                        description: Note visible to sender
                        example: Sender note
                        maxLength: 500
                        minLength: 1
                        type: string
              required:
                - senderAccountId
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    reference:
                      description: 'Transaction internal reference - unique identifier within Tatum ledger. In order of failure, use this value to search for problems.'
                      example: 0c64cc04-5412-4e57-a51c-ee5727939bcb
                      type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to perform the required operation due to a logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: amount.format
                        example: amount.format
                        type: string
                      message:
                        description: Amount has incorrect format.
                        example: Amount has incorrect format.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: senderAccount.not.exists
                        example: senderAccount.not.exists
                        type: string
                      message:
                        description: 'Unable to find sender account ${transaction.senderAccountId}.'
                        example: 'Unable to find sender account ${transaction.senderAccountId}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: compliance.country.btc.not.supported
                        example: compliance.country.btc.not.supported
                        type: string
                      message:
                        description: Customer country not supported for BTC.
                        example: Customer country not supported for BTC.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: compliance.country.eth.not.supported
                        example: compliance.country.eth.not.supported
                        type: string
                      message:
                        description: Customer country not supported for ETH.
                        example: Customer country not supported for ETH.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: rate.not.found
                        example: rate.not.found
                        type: string
                      message:
                        description: No such currency rate.
                        example: No such currency rate.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: vc.not.found
                        example: vc.not.found
                        type: string
                      message:
                        description: No such virtual currency.
                        example: No such virtual currency.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: senderAccount.frozen
                        example: senderAccount.frozen
                        type: string
                      message:
                        description: 'Sender account ${transaction.senderAccountId} is frozen, unable to perform payment.'
                        example: 'Sender account ${transaction.senderAccountId} is frozen, unable to perform payment.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: senderAccount.customer.disabled
                        example: senderAccount.customer.disabled
                        type: string
                      message:
                        description: 'Sender accounts customer ${senderAccount.customerId} is disabled, unable to perform payment.'
                        example: 'Sender accounts customer ${senderAccount.customerId} is disabled, unable to perform payment.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: recipientAccount.not.exists
                        example: recipientAccount.not.exists
                        type: string
                      message:
                        description: 'Unable to find recipient account ${transaction.recipientAccountId}.'
                        example: 'Unable to find recipient account ${transaction.recipientAccountId}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: transaction.currency.incompatible
                        example: transaction.currency.incompatible
                        type: string
                      message:
                        description: 'Incompatible currencies for sender account ${transaction.senderAccountId} and recipient account ${transaction.recipientAccountId}.'
                        example: 'Incompatible currencies for sender account ${transaction.senderAccountId} and recipient account ${transaction.recipientAccountId}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: balance.insufficient
                        example: balance.insufficient
                        type: string
                      message:
                        description: 'Insufficient balance for account ${transaction.senderAccountId} and payment amount ${transaction.amount}. Sender balance is ${senderAccount.balance.availableBalance as string}, amount is ${amount}'
                        example: 'Insufficient balance for account ${transaction.senderAccountId} and payment amount ${transaction.amount}. Sender balance is ${senderAccount.balance.availableBalance as string}, amount is ${amount}'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: amount.btc
                        example: amount.btc
                        type: string
                      message:
                        description: 'BTC|LTC|BCH payment amount must be at least 0.00000000000001, not ${transaction.amount}.'
                        example: 'BTC|LTC|BCH payment amount must be at least 0.00000000000001, not ${transaction.amount}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: transaction.amount.ada
                        example: transaction.amount.ada
                        type: string
                      message:
                        description: 'ADA payment amount must be at least 0.000001, not ${transaction.amount}.'
                        example: 'ADA payment amount must be at least 0.000001, not ${transaction.amount}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: amount.eth
                        example: amount.eth
                        type: string
                      message:
                        description: 'ETH payment amount must be at least 0.000000000001, not ${transaction.amount}.'
                        example: 'ETH payment amount must be at least 0.000000000001, not ${transaction.amount}.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: transaction.not.compliant
                        example: transaction.not.compliant
                        type: string
                      message:
                        description: 'Transaction not compliant, recipient account customer country is not defined.'
                        example: 'Transaction not compliant, recipient account customer country is not defined.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/ledger/transaction/account:
    post:
      description: <h4>1 credit per API call.</h4><br/><p>Finds transactions for the account identified by the given account ID.</p>
      operationId: getTransactionsByAccountId
      summary: Find transactions for account.
      tags:
        - List transcations
      parameters:
        - description: Max number of items per page is 50. Either count or pageSize is accepted.
          in: query
          name: pageSize
          schema:
            type: number
            example: 10
            maximum: 50
            minimum: 1
        - description: Offset to obtain the next page of data.
          in: query
          name: offset
          schema:
            type: number
            example: 0
        - description: Get the total transaction count based on the filter. Either count or pageSize is accepted.
          in: query
          name: count
          example: true
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: Account ID - source of transaction(s).
                  example: 5e6be8e9e6aa436299950c41
                  maxLength: 24
                  minLength: 24
                  type: string
                counterAccount:
                  description: Counter account - transaction(s) destination account.
                  example: 5e6be8e9e6aa436299950c41
                  maxLength: 24
                  minLength: 24
                  type: string
                from:
                  description: 'Starting date to search for transactions from in UTC millis. If not present, search all history.'
                  example: 1571833231000
                  type: integer
                  format: int64
                  minimum: 0
                to:
                  description: 'Date until to search for transactions in UTC millis. If not present, search up till now.'
                  example: 1571833231000
                  type: integer
                  format: int64
                  minimum: 0
                currency:
                  description: Currency of the transactions.
                  example: BTC
                  minLength: 1
                  maxLength: 50
                  type: string
                amount:
                  type: array
                  description: Amount of the transaction. AND is used between filter options.
                  items:
                    type: object
                    properties:
                      op:
                        type: string
                        description: Filtering operation.
                        example: gte
                        enum:
                          - gte
                          - lte
                          - gt
                          - lt
                          - eq
                          - neq
                      value:
                        type: string
                        description: Value of the operation.
                        example: '1.5'
                    required:
                      - op
                      - value
                currencies:
                  description: List of currencies of the transactions.
                  type: array
                  items:
                    example: BTC
                    minLength: 1
                    maxLength: 50
                    type: string
                transactionType:
                  description: Type of payment
                  enum:
                    - FAILED
                    - DEBIT_PAYMENT
                    - CREDIT_PAYMENT
                    - CREDIT_DEPOSIT
                    - DEBIT_WITHDRAWAL
                    - CANCEL_WITHDRAWAL
                    - DEBIT_OUTGOING_PAYMENT
                    - EXCHANGE_BUY
                    - EXCHANGE_SELL
                    - DEBIT_TRANSACTION
                    - CREDIT_INCOMING_PAYMENT
                transactionTypes:
                  description: Types of payment
                  type: array
                  items:
                    type: string
                    example: CREDIT_PAYMENT
                    enum:
                      - FAILED
                      - DEBIT_PAYMENT
                      - CREDIT_PAYMENT
                      - CREDIT_DEPOSIT
                      - DEBIT_WITHDRAWAL
                      - CANCEL_WITHDRAWAL
                      - DEBIT_OUTGOING_PAYMENT
                      - EXCHANGE_BUY
                      - EXCHANGE_SELL
                      - DEBIT_TRANSACTION
                      - CREDIT_INCOMING_PAYMENT
                opType:
                  description: Type of operation
                  enum:
                    - PAYMENT
                    - WITHDRAWAL
                    - BLOCKCHAIN_TRANSACTION
                    - EXCHANGE
                    - FAILED
                    - DEPOSIT
                    - MINT
                    - REVOKE
                  example: PAYMENT
                  type: string
                transactionCode:
                  description: For bookkeeping to distinct transaction purpose.
                  example: 1_01_EXTERNAL_CODE
                  maxLength: 100
                  minLength: 1
                  type: string
                paymentId:
                  description: Payment ID defined in payment order by sender.
                  example: '65426'
                  maxLength: 100
                  minLength: 1
                  type: string
                recipientNote:
                  description: Recipient note defined in payment order by sender.
                  example: '65426'
                  maxLength: 500
                  minLength: 1
                  type: string
                senderNote:
                  description: Sender note defined in payment order by sender.
                  example: '65426'
                  maxLength: 500
                  minLength: 1
                  type: string
              required:
                - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - items:
                      properties:
                        accountId:
                          description: Source account - source of transaction(s)
                          example: 5e6645712b55823de7ea82f1
                          type: string
                        counterAccountId:
                          description: 'Counter account - transaction(s) destination account. In case of blockchain recipient, this is addess of blockchain account.'
                          example: 5e6645712b55823de7ea82f1
                          type: string
                        currency:
                          description: Transaction currency
                          example: BTC
                          type: string
                        amount:
                          description: Amount in account's currency
                          example: '0.1'
                          type: string
                        anonymous:
                          description: 'Whether the transaction is anonymous. If true, counter account owner does not see source account.'
                          example: false
                          type: boolean
                        created:
                          description: Time in UTC of transaction.
                          example: 1572031674384
                          type: number
                        marketValue:
                          description: FIAT value of transaction.
                          properties:
                            amount:
                              description: Value of transaction in given base pair.
                              example: '1235.56'
                              type: string
                            currency:
                              description: Base pair.
                              example: EUR
                              enum:
                                - AED
                                - AFN
                                - ALL
                                - AMD
                                - ANG
                                - AOA
                                - ARS
                                - AUD
                                - AWG
                                - AZN
                                - BAM
                                - BAT
                                - BBD
                                - BCH
                                - BDT
                                - BGN
                                - BHD
                                - BIF
                                - BMD
                                - BND
                                - BOB
                                - BRL
                                - BSD
                                - BTC
                                - BTN
                                - BWP
                                - BYN
                                - BYR
                                - BZD
                                - CAD
                                - CDF
                                - CHF
                                - CLF
                                - CLP
                                - CNY
                                - COP
                                - CRC
                                - CUC
                                - CUP
                                - CVE
                                - CZK
                                - DJF
                                - DKK
                                - DOP
                                - DOGE
                                - DZD
                                - EGP
                                - ERN
                                - ETB
                                - ETH
                                - EUR
                                - FJD
                                - FKP
                                - FLOW
                                - FUSD
                                - FREE
                                - GMC
                                - GMC_BSC
                                - RMD
                                - GBP
                                - GEL
                                - GGP
                                - GHS
                                - GIP
                                - GMD
                                - GNF
                                - GTQ
                                - GYD
                                - HKD
                                - HNL
                                - HRK
                                - HTG
                                - HUF
                                - IDR
                                - ILS
                                - IMP
                                - INR
                                - IQD
                                - IRR
                                - ISK
                                - JEP
                                - JMD
                                - JOD
                                - JPY
                                - KES
                                - KGS
                                - KHR
                                - KMF
                                - KPW
                                - KRW
                                - KWD
                                - KYD
                                - KZT
                                - LAK
                                - LBP
                                - LEO
                                - LINK
                                - LKR
                                - LRD
                                - LSL
                                - LTC
                                - LTL
                                - LVL
                                - LYD
                                - MAD
                                - MDL
                                - MGA
                                - MKD
                                - MKR
                                - MMK
                                - MMY
                                - MNT
                                - MOP
                                - MRO
                                - MUR
                                - MVR
                                - MWK
                                - MXN
                                - MYR
                                - MZN
                                - NAD
                                - NGN
                                - NIO
                                - NOK
                                - NPR
                                - NZD
                                - OMR
                                - PAB
                                - PAX
                                - PAXG
                                - PEN
                                - PGK
                                - PHP
                                - PKR
                                - PLN
                                - PLTC
                                - PYG
                                - QAR
                                - RON
                                - RSD
                                - RUB
                                - RWF
                                - SAR
                                - SBD
                                - SCR
                                - SDG
                                - SEK
                                - SGD
                                - SHP
                                - SLL
                                - SOS
                                - SRD
                                - STD
                                - SVC
                                - SYP
                                - SZL
                                - THB
                                - TJS
                                - TMT
                                - TND
                                - TOP
                                - TRY
                                - TTD
                                - TRON
                                - TUSD
                                - BUSD
                                - TWD
                                - TZS
                                - UAH
                                - UGX
                                - UNI
                                - USD
                                - USDC
                                - USDT
                                - USDT_TRON
                                - USDT_MATIC
                                - QTUM
                                - UYU
                                - UZS
                                - VEF
                                - VND
                                - VUV
                                - WBTC
                                - WST
                                - XAF
                                - XAG
                                - XAU
                                - XCD
                                - XCON
                                - XDR
                                - XOF
                                - XPF
                                - XRP
                                - YER
                                - ZAR
                                - ZMK
                                - ZMW
                                - ZWL
                              type: string
                            sourceDate:
                              description: Date of validity of rate in UTC.
                              example: 1572031674384
                              type: number
                            source:
                              description: Source of base pair.
                              example: fixer.io
                              type: string
                          type: object
                          required:
                            - amount
                            - currency
                            - sourceDate
                            - source
                        operationType:
                          description: Type of operation.
                          enum:
                            - PAYMENT
                            - WITHDRAWAL
                            - BLOCKCHAIN_TRANSACTION
                            - EXCHANGE
                            - FAILED
                            - DEPOSIT
                            - MINT
                            - REVOKE
                          example: PAYMENT
                          type: string
                        transactionType:
                          description: Type of payment.
                          enum:
                            - FAILED
                            - DEBIT_PAYMENT
                            - CREDIT_PAYMENT
                            - CREDIT_DEPOSIT
                            - DEBIT_WITHDRAWAL
                            - CANCEL_WITHDRAWAL
                            - DEBIT_OUTGOING_PAYMENT
                            - CREDIT_INCOMING_PAYMENT
                            - EXCHANGE_BUY
                            - EXCHANGE_SELL
                          example: CREDIT_PAYMENT
                          type: string
                        reference:
                          description: 'Transaction internal reference - unique identifier within Tatum ledger. In order of failure, use this value to search for problems.'
                          example: 5e6be8e9e6aa436299950c41
                          type: string
                        transactionCode:
                          description: For bookkeeping to distinct transaction purpose.
                          example: 1_01_EXTERNAL_CODE
                          type: string
                        senderNote:
                          description: Note visible for sender.
                          example: Sender note
                          type: string
                        recipientNote:
                          description: Note visible for both sender and recipient.
                          example: Private note
                          type: string
                        paymentId:
                          description: Payment ID defined in payment order by sender.
                          example: '65426'
                          type: string
                        attr:
                          example: '123'
                          description: 'Present only for operationType WITHDRAWAL and XLM / XRP based accounts it represents message or destinationTag of the recipient, if present.'
                          type: string
                        address:
                          type: string
                          description: 'For operationType DEPOSIT it represents address, on which was deposit credited for the account.'
                          example: qrppgud79n5h5ehqt9s7x8uc82pcag82es0w9tada0
                        txId:
                          type: string
                          description: 'For operationType DEPOSIT, BLOCKCHAIN_TRANSACTION it represents transaction id, for which deposit occured.'
                          example: c6c176e3f6705596d58963f0ca79b34ffa5b78874a65df9c974e22cf86a7ba67
                      type: object
                      required:
                        - accountId
                        - reference
                        - anonymous
                        - amount
                        - marketValue
                        - created
                        - operationType
                        - transactionType
                        - currency
                    type: array
                  - type: number
                    description: Total transaction count.
                    example: 20
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/ledger/transaction/customer:
    post:
      description: <h4>1 credit per API call.</h4><br/><p>Finds transactions for all accounts of the customer identified by the given internal customer ID.</p>
      operationId: getTransactionsByCustomerId
      summary: Find transactions for a customer across all of the customer's accounts.
      tags:
        - List transcations
      parameters:
        - description: Max number of items per page is 50. Either count or pageSize is accepted.
          in: query
          name: pageSize
          schema:
            type: number
            example: 10
            maximum: 50
            minimum: 1
        - description: Offset to obtain the next page of data.
          in: query
          name: offset
          schema:
            type: number
            example: 0
        - description: Get total transaction count based on the filter. Either count or pageSize is accepted.
          in: query
          name: count
          example: true
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: Customer internal ID to search for.
                  example: 5e6be8e9e6aa436299950c41
                  maxLength: 24
                  minLength: 24
                  type: string
                account:
                  description: Source account - source of transaction(s).
                  example: 5e6be8e9e6aa436299950c41
                  maxLength: 24
                  minLength: 24
                  type: string
                counterAccount:
                  description: Counter account - transaction(s) destination account.
                  example: 5e6be8e9e6aa436299950c41
                  maxLength: 24
                  minLength: 24
                  type: string
                currency:
                  description: Currency of the transactions.
                  example: BTC
                  minLength: 1
                  maxLength: 50
                  type: string
                from:
                  description: 'Starting date to search for transactions from in UTC millis. If not present, search all history.'
                  example: 1571833231000
                  type: integer
                  format: int64
                  minimum: 0
                to:
                  description: 'Date until to search for transactions in UTC millis. If not present, search up till now.'
                  example: 1571833231000
                  type: integer
                  format: int64
                  minimum: 0
                amount:
                  type: array
                  description: Amount of the transaction. AND is used between filter options.
                  items:
                    type: object
                    properties:
                      op:
                        type: string
                        description: Filtering operation.
                        example: gte
                        enum:
                          - gte
                          - lte
                          - gt
                          - lt
                          - eq
                          - neq
                      value:
                        type: string
                        description: Value of the operation.
                        example: '1.5'
                    required:
                      - op
                      - value
                currencies:
                  description: List of currencies of the transactions.
                  type: array
                  items:
                    example: BTC
                    minLength: 1
                    maxLength: 50
                    type: string
                transactionType:
                  description: Type of payment
                  enum:
                    - FAILED
                    - DEBIT_PAYMENT
                    - CREDIT_PAYMENT
                    - CREDIT_DEPOSIT
                    - DEBIT_WITHDRAWAL
                    - CANCEL_WITHDRAWAL
                    - DEBIT_OUTGOING_PAYMENT
                    - EXCHANGE_BUY
                    - EXCHANGE_SELL
                    - DEBIT_TRANSACTION
                    - CREDIT_INCOMING_PAYMENT
                transactionTypes:
                  description: Types of payment
                  type: array
                  items:
                    type: string
                    example: CREDIT_PAYMENT
                    enum:
                      - FAILED
                      - DEBIT_PAYMENT
                      - CREDIT_PAYMENT
                      - CREDIT_DEPOSIT
                      - DEBIT_WITHDRAWAL
                      - CANCEL_WITHDRAWAL
                      - DEBIT_OUTGOING_PAYMENT
                      - EXCHANGE_BUY
                      - EXCHANGE_SELL
                      - DEBIT_TRANSACTION
                      - CREDIT_INCOMING_PAYMENT
                opType:
                  description: Type of operation.
                  enum:
                    - PAYMENT
                    - WITHDRAWAL
                    - BLOCKCHAIN_TRANSACTION
                    - EXCHANGE
                    - FAILED
                    - DEPOSIT
                    - MINT
                    - REVOKE
                  example: PAYMENT
                  type: string
                transactionCode:
                  description: For bookkeeping to distinct transaction purpose.
                  example: 1_01_EXTERNAL_CODE
                  maxLength: 100
                  minLength: 1
                  type: string
                paymentId:
                  description: Payment ID defined in payment order by sender.
                  example: '65426'
                  maxLength: 100
                  minLength: 1
                  type: string
                recipientNote:
                  description: Recipient note defined in payment order by sender.
                  example: '65426'
                  maxLength: 500
                  minLength: 1
                  type: string
                senderNote:
                  description: Sender note defined in payment order by sender.
                  example: '65426'
                  maxLength: 500
                  minLength: 1
                  type: string
              required:
                - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - items:
                      properties:
                        accountId:
                          description: Source account - source of transaction(s)
                          example: 5e6645712b55823de7ea82f1
                          type: string
                        counterAccountId:
                          description: 'Counter account - transaction(s) destination account. In case of blockchain recipient, this is addess of blockchain account.'
                          example: 5e6645712b55823de7ea82f1
                          type: string
                        currency:
                          description: Transaction currency
                          example: BTC
                          type: string
                        amount:
                          description: Amount in account's currency
                          example: '0.1'
                          type: string
                        anonymous:
                          description: 'Whether the transaction is anonymous. If true, counter account owner does not see source account.'
                          example: false
                          type: boolean
                        created:
                          description: Time in UTC of transaction.
                          example: 1572031674384
                          type: number
                        marketValue:
                          description: FIAT value of transaction.
                          properties:
                            amount:
                              description: Value of transaction in given base pair.
                              example: '1235.56'
                              type: string
                            currency:
                              description: Base pair.
                              example: EUR
                              enum:
                                - AED
                                - AFN
                                - ALL
                                - AMD
                                - ANG
                                - AOA
                                - ARS
                                - AUD
                                - AWG
                                - AZN
                                - BAM
                                - BAT
                                - BBD
                                - BCH
                                - BDT
                                - BGN
                                - BHD
                                - BIF
                                - BMD
                                - BND
                                - BOB
                                - BRL
                                - BSD
                                - BTC
                                - BTN
                                - BWP
                                - BYN
                                - BYR
                                - BZD
                                - CAD
                                - CDF
                                - CHF
                                - CLF
                                - CLP
                                - CNY
                                - COP
                                - CRC
                                - CUC
                                - CUP
                                - CVE
                                - CZK
                                - DJF
                                - DKK
                                - DOP
                                - DOGE
                                - DZD
                                - EGP
                                - ERN
                                - ETB
                                - ETH
                                - EUR
                                - FJD
                                - FKP
                                - FLOW
                                - FUSD
                                - FREE
                                - GMC
                                - GMC_BSC
                                - RMD
                                - GBP
                                - GEL
                                - GGP
                                - GHS
                                - GIP
                                - GMD
                                - GNF
                                - GTQ
                                - GYD
                                - HKD
                                - HNL
                                - HRK
                                - HTG
                                - HUF
                                - IDR
                                - ILS
                                - IMP
                                - INR
                                - IQD
                                - IRR
                                - ISK
                                - JEP
                                - JMD
                                - JOD
                                - JPY
                                - KES
                                - KGS
                                - KHR
                                - KMF
                                - KPW
                                - KRW
                                - KWD
                                - KYD
                                - KZT
                                - LAK
                                - LBP
                                - LEO
                                - LINK
                                - LKR
                                - LRD
                                - LSL
                                - LTC
                                - LTL
                                - LVL
                                - LYD
                                - MAD
                                - MDL
                                - MGA
                                - MKD
                                - MKR
                                - MMK
                                - MMY
                                - MNT
                                - MOP
                                - MRO
                                - MUR
                                - MVR
                                - MWK
                                - MXN
                                - MYR
                                - MZN
                                - NAD
                                - NGN
                                - NIO
                                - NOK
                                - NPR
                                - NZD
                                - OMR
                                - PAB
                                - PAX
                                - PAXG
                                - PEN
                                - PGK
                                - PHP
                                - PKR
                                - PLN
                                - PLTC
                                - PYG
                                - QAR
                                - RON
                                - RSD
                                - RUB
                                - RWF
                                - SAR
                                - SBD
                                - SCR
                                - SDG
                                - SEK
                                - SGD
                                - SHP
                                - SLL
                                - SOS
                                - SRD
                                - STD
                                - SVC
                                - SYP
                                - SZL
                                - THB
                                - TJS
                                - TMT
                                - TND
                                - TOP
                                - TRY
                                - TTD
                                - TRON
                                - TUSD
                                - BUSD
                                - TWD
                                - TZS
                                - UAH
                                - UGX
                                - UNI
                                - USD
                                - USDC
                                - USDT
                                - USDT_TRON
                                - USDT_MATIC
                                - QTUM
                                - UYU
                                - UZS
                                - VEF
                                - VND
                                - VUV
                                - WBTC
                                - WST
                                - XAF
                                - XAG
                                - XAU
                                - XCD
                                - XCON
                                - XDR
                                - XOF
                                - XPF
                                - XRP
                                - YER
                                - ZAR
                                - ZMK
                                - ZMW
                                - ZWL
                              type: string
                            sourceDate:
                              description: Date of validity of rate in UTC.
                              example: 1572031674384
                              type: number
                            source:
                              description: Source of base pair.
                              example: fixer.io
                              type: string
                          type: object
                          required:
                            - amount
                            - currency
                            - sourceDate
                            - source
                        operationType:
                          description: Type of operation.
                          enum:
                            - PAYMENT
                            - WITHDRAWAL
                            - BLOCKCHAIN_TRANSACTION
                            - EXCHANGE
                            - FAILED
                            - DEPOSIT
                            - MINT
                            - REVOKE
                          example: PAYMENT
                          type: string
                        transactionType:
                          description: Type of payment.
                          enum:
                            - FAILED
                            - DEBIT_PAYMENT
                            - CREDIT_PAYMENT
                            - CREDIT_DEPOSIT
                            - DEBIT_WITHDRAWAL
                            - CANCEL_WITHDRAWAL
                            - DEBIT_OUTGOING_PAYMENT
                            - CREDIT_INCOMING_PAYMENT
                            - EXCHANGE_BUY
                            - EXCHANGE_SELL
                          example: CREDIT_PAYMENT
                          type: string
                        reference:
                          description: 'Transaction internal reference - unique identifier within Tatum ledger. In order of failure, use this value to search for problems.'
                          example: 5e6be8e9e6aa436299950c41
                          type: string
                        transactionCode:
                          description: For bookkeeping to distinct transaction purpose.
                          example: 1_01_EXTERNAL_CODE
                          type: string
                        senderNote:
                          description: Note visible for sender.
                          example: Sender note
                          type: string
                        recipientNote:
                          description: Note visible for both sender and recipient.
                          example: Private note
                          type: string
                        paymentId:
                          description: Payment ID defined in payment order by sender.
                          example: '65426'
                          type: string
                        attr:
                          example: '123'
                          description: 'Present only for operationType WITHDRAWAL and XLM / XRP based accounts it represents message or destinationTag of the recipient, if present.'
                          type: string
                        address:
                          type: string
                          description: 'For operationType DEPOSIT it represents address, on which was deposit credited for the account.'
                          example: qrppgud79n5h5ehqt9s7x8uc82pcag82es0w9tada0
                        txId:
                          type: string
                          description: 'For operationType DEPOSIT, BLOCKCHAIN_TRANSACTION it represents transaction id, for which deposit occured.'
                          example: c6c176e3f6705596d58963f0ca79b34ffa5b78874a65df9c974e22cf86a7ba67
                      type: object
                      required:
                        - accountId
                        - reference
                        - anonymous
                        - amount
                        - marketValue
                        - created
                        - operationType
                        - transactionType
                        - currency
                    type: array
                  - type: number
                    description: Total transaction count.
                    example: 20
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/ledger/transaction/ledger:
    post:
      description: <h4>1 credit per API call.</h4><br/><p>Find transactions across whole ledger.</p>
      operationId: getTransactions
      summary: Find transactions within the Virtual account.
      tags:
        - List transcations
      parameters:
        - description: Max number of items per page is 50. Either count or pageSize is accepted.
          in: query
          name: pageSize
          schema:
            type: number
            example: 10
            maximum: 50
            minimum: 1
        - description: Offset to obtain the next page of data.
          in: query
          name: offset
          schema:
            type: number
            example: 0
        - description: Get the total transaction count based on the filter. Either count or pageSize is accepted.
          in: query
          name: count
          example: true
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              properties:
                account:
                  description: Source account - source of transaction(s).
                  example: 5e6be8e9e6aa436299950c41
                  maxLength: 24
                  minLength: 24
                  type: string
                counterAccount:
                  description: Counter account - transaction(s) destination account.
                  example: 5e6be8e9e6aa436299950c41
                  maxLength: 24
                  minLength: 24
                  type: string
                currency:
                  description: Currency of the transactions.
                  example: BTC
                  minLength: 1
                  maxLength: 50
                  type: string
                from:
                  description: 'Starting date to search for transactions from in UTC millis. If not present, search all history.'
                  example: 1571833231000
                  type: integer
                  format: int64
                  minimum: 0
                amount:
                  type: array
                  description: Amount of the transaction. AND is used between filter options.
                  items:
                    type: object
                    properties:
                      op:
                        type: string
                        description: Filtering operation.
                        example: gte
                        enum:
                          - gte
                          - lte
                          - gt
                          - lt
                          - eq
                          - neq
                      value:
                        type: string
                        description: Value of the operation.
                        example: '1.5'
                    required:
                      - op
                      - value
                currencies:
                  description: List of currencies of the transactions.
                  type: array
                  items:
                    example: BTC
                    minLength: 1
                    maxLength: 50
                    type: string
                transactionType:
                  description: Type of payment
                  enum:
                    - FAILED
                    - DEBIT_PAYMENT
                    - CREDIT_PAYMENT
                    - CREDIT_DEPOSIT
                    - DEBIT_WITHDRAWAL
                    - CANCEL_WITHDRAWAL
                    - DEBIT_OUTGOING_PAYMENT
                    - EXCHANGE_BUY
                    - EXCHANGE_SELL
                    - DEBIT_TRANSACTION
                    - CREDIT_INCOMING_PAYMENT
                transactionTypes:
                  description: Types of payment
                  type: array
                  items:
                    type: string
                    example: CREDIT_PAYMENT
                    enum:
                      - FAILED
                      - DEBIT_PAYMENT
                      - CREDIT_PAYMENT
                      - CREDIT_DEPOSIT
                      - DEBIT_WITHDRAWAL
[...]
