openapi: 3.1.0
info:
  contact: {}
  title: Token deployment
  version: 3.9.3
  x-logo:
    url: 'https://tatum.io/images/logo.svg'
    altText: Tatum
  description: |-
      <p>Register and use Tatum Private Ledger's virtual currencies. You can create your own virtual currency and distribute it amongst your customers.<br/>
      Virtual currencies are used to support FIAT currencies. When a virtual currency is created with basePair of the FIAT currency, it is possible to perform transactions in the private ledger in FIAT.
      </p>
servers:
  - url: 'https://api-eu1.tatum.io'
  - url: 'https://api-us-west1.tatum.io'
tags:
  - description: ''
    name: Tatum Virtual currency
  - description: ''
    name: Deploy blockchain token
paths:
  /v3/ledger/virtualCurrency:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Create new virtual currency with given supply stored in account. This will create Tatum internal virtual currency. Every virtual currency must be prefixed with <b>VC_</b>.<br/>
        Every virtual currency must be pegged to existing FIAT or supported cryptocurrency. 1 unit of virtual currency has then the same amount as 1 unit of the base currency it is pegged to. It is possible to set a custom base rate for the virtual currency. (baseRate = 2 => 1 VC unit = 2 basePair units)<br/>
        Tatum virtual currency acts as any other asset within Tatum. For creation of ERC20 token, see <a href=\"#tatum-blockchain-api-erc20\">ERC20 </a>.<br/>
        This operation returns the newly created Tatum Ledger account with an initial balance set to the virtual currency's total supply. Total supply can be changed in the future.</p>
      operationId: createCurrency
      summary: Create new virtual currency
      tags:
        - Tatum Virtual currency
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: Tatum Virtual currency name. Must be prefixed with 'VC_'.
                  example: VC_VIRTUAL
                  maxLength: 30
                  pattern: '^[a-zA-Z0-9_]+$'
                  minLength: 1
                  type: string
                supply:
                  description: Supply of virtual currency.
                  maxLength: 38
                  minLength: 1
                  example: '1000000'
                  type: string
                  pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                basePair:
                  description: 'Base pair for virtual currency. Transaction value will be calculated according to this base pair. e.g. 1 VC_VIRTUAL is equal to 1 BTC, if basePair is set to BTC.'
                  enum:
                    - AED
                    - AFN
                    - ALL
                    - AMD
                    - ANG
                    - AOA
                    - ARS
                    - AUD
                    - AWG
                    - AZN
                    - BAM
                    - BAT
                    - BBD
                    - BCH
                    - BDT
                    - BGN
                    - BHD
                    - BIF
                    - BMD
                    - BND
                    - BOB
                    - BRL
                    - BSD
                    - BTC
                    - BTN
                    - BWP
                    - BYN
                    - BYR
                    - BZD
                    - CAD
                    - CDF
                    - CHF
                    - CLF
                    - CLP
                    - CNY
                    - COP
                    - CRC
                    - CUC
                    - CUP
                    - CVE
                    - CZK
                    - DJF
                    - DKK
                    - DOP
                    - DOGE
                    - DZD
                    - EGP
                    - ERN
                    - ETB
                    - ETH
                    - EUR
                    - FJD
                    - FKP
                    - FLOW
                    - FUSD
                    - FREE
                    - GMC
                    - GMC_BSC
                    - RMD
                    - GBP
                    - GEL
                    - GGP
                    - GHS
                    - GIP
                    - GMD
                    - GNF
                    - GTQ
                    - GYD
                    - HKD
                    - HNL
                    - HRK
                    - HTG
                    - HUF
                    - IDR
                    - ILS
                    - IMP
                    - INR
                    - IQD
                    - IRR
                    - ISK
                    - JEP
                    - JMD
                    - JOD
                    - JPY
                    - KES
                    - KGS
                    - KHR
                    - KMF
                    - KPW
                    - KRW
                    - KWD
                    - KYD
                    - KZT
                    - LAK
                    - LBP
                    - LEO
                    - LINK
                    - LKR
                    - LRD
                    - LSL
                    - LTC
                    - LTL
                    - LVL
                    - LYD
                    - MAD
                    - MDL
                    - MGA
                    - MKD
                    - MKR
                    - MMK
                    - MMY
                    - MNT
                    - MOP
                    - MRO
                    - MUR
                    - MVR
                    - MWK
                    - MXN
                    - MYR
                    - MZN
                    - NAD
                    - NGN
                    - NIO
                    - NOK
                    - NPR
                    - NZD
                    - OMR
                    - PAB
                    - PAX
                    - PAXG
                    - PEN
                    - PGK
                    - PHP
                    - PKR
                    - PLN
                    - PLTC
                    - PYG
                    - QAR
                    - RON
                    - RSD
                    - RUB
                    - RWF
                    - SAR
                    - SBD
                    - SCR
                    - SDG
                    - SEK
                    - SGD
                    - SHP
                    - SLL
                    - SOS
                    - SRD
                    - STD
                    - SVC
                    - SYP
                    - SZL
                    - THB
                    - TJS
                    - TMT
                    - TND
                    - TOP
                    - TRY
                    - TTD
                    - TRON
                    - TUSD
                    - BUSD
                    - TWD
                    - TZS
                    - UAH
                    - UGX
                    - UNI
                    - USD
                    - USDC
                    - USDT
                    - USDT_TRON
                    - USDT_MATIC
                    - QTUM
                    - UYU
                    - UZS
                    - VEF
                    - VND
                    - VUV
                    - WBTC
                    - WST
                    - XAF
                    - XAG
                    - XAU
                    - XCD
                    - XCON
                    - XDR
                    - XLM
                    - XOF
                    - XPF
                    - XRP
                    - YER
                    - ZAR
                    - ZMK
                    - ZMW
                    - ZWL
                  example: BTC
                  maxLength: 50
                  minLength: 3
                  type: string
                baseRate:
                  type: number
                  example: 1
                  default: 1
                  minimum: 0
                  description: Exchange rate of the base pair. Each unit of the created curency will represent value of baseRate*1 basePair.
                customer:
                  properties:
                    accountingCurrency:
                      description: 'All transaction will be accounted in this currency for all accounts. Currency can be overridden per account level. If not set, EUR is used. ISO-4217'
                      enum:
                        - AED
                        - AFN
                        - ALL
                        - AMD
                        - ANG
                        - AOA
                        - ARS
                        - AUD
                        - AWG
                        - AZN
                        - BAM
                        - BBD
                        - BDT
                        - BGN
                        - BHD
                        - BIF
                        - BMD
                        - BND
                        - BOB
                        - BRL
                        - BSD
                        - BTN
                        - BWP
                        - BYN
                        - BYR
                        - BZD
                        - CAD
                        - CDF
                        - CHF
                        - CLF
                        - CLP
                        - CNY
                        - COP
                        - CRC
                        - CUC
                        - CUP
                        - CVE
                        - CZK
                        - DJF
                        - DKK
                        - DOP
                        - DOGE
                        - DZD
                        - EGP
                        - ERN
                        - ETB
                        - EUR
                        - FJD
                        - FKP
                        - FLOW
                        - FUSD
                        - GBP
                        - GEL
                        - GGP
                        - GHS
                        - GIP
                        - GMD
                        - GNF
                        - GTQ
                        - GYD
                        - HKD
                        - HNL
                        - HRK
                        - HTG
                        - HUF
                        - IDR
                        - ILS
                        - IMP
                        - INR
                        - IQD
                        - IRR
                        - ISK
                        - JEP
                        - JMD
                        - JOD
                        - JPY
                        - KES
                        - KGS
                        - KHR
                        - KMF
                        - KPW
                        - KRW
                        - KWD
                        - KYD
                        - KZT
                        - LAK
                        - LBP
                        - LKR
                        - LRD
                        - LSL
                        - LTL
                        - LVL
                        - LYD
                        - MAD
                        - MDL
                        - MGA
                        - MKD
                        - MMK
                        - MNT
                        - MOP
                        - MRO
                        - MUR
                        - MVR
                        - MWK
                        - MXN
                        - MYR
                        - MZN
                        - NAD
                        - NGN
                        - NIO
                        - NOK
                        - NPR
                        - NZD
                        - OMR
                        - PAB
                        - PEN
                        - PGK
                        - PHP
                        - PKR
                        - PLN
                        - PYG
                        - QAR
                        - RON
                        - RSD
                        - RUB
                        - RWF
                        - SAR
                        - SBD
                        - SCR
                        - SDG
                        - SEK
                        - SGD
                        - SHP
                        - SLL
                        - SOS
                        - SRD
                        - STD
                        - SVC
                        - SYP
                        - SZL
                        - THB
                        - TJS
                        - TMT
                        - TND
                        - TOP
                        - TRY
                        - TTD
                        - TWD
                        - TZS
                        - UAH
                        - UGX
                        - USD
                        - UYU
                        - UZS
                        - VEF
                        - VND
                        - VUV
                        - WST
                        - XAF
                        - XAG
                        - XAU
                        - XCD
                        - XDR
                        - XOF
                        - XPF
                        - YER
                        - ZAR
                        - ZMK
                        - ZMW
                        - ZWL
                      example: USD
                      maxLength: 3
                      minLength: 3
                      type: string
                    customerCountry:
                      description: Country customer has to be compliant with. ISO-3166-1
                      example: US
                      maxLength: 2
                      minLength: 2
                      type: string
                    externalId:
                      description: Customer external ID. Use only anonymized identification you have in your system. If customer with externalId does not exists new customer is created. If customer with specified externalId already exists it is updated.
                      example: '123654'
                      maxLength: 100
                      minLength: 1
                      type: string
                    providerCountry:
                      description: Country service provider has to be compliant with. ISO-3166-1
                      example: US
                      maxLength: 2
                      minLength: 2
                      type: string
                  required:
                    - externalId
                  type: object
                  description: If customer is filled then is created or updated.
                description:
                  description: Used as a description within Tatum system.
                  example: My Virtual Token description.
                  maxLength: 100
                  minLength: 1
                  type: string
                accountCode:
                  description: For bookkeeping to distinct account purpose.
                  maxLength: 50
                  example: AC_1011_B
                  minLength: 1
                  type: string
                accountNumber:
                  description: Account number from external system.
                  example: '1234567890'
                  type: string
                accountingCurrency:
                  description: 'All transaction will be billed in this currency for created account associated with this currency. If not set, EUR is used. ISO-4217'
                  enum:
                    - AED
                    - AFN
                    - ALL
                    - AMD
                    - ANG
                    - AOA
                    - ARS
                    - AUD
                    - AWG
                    - AZN
                    - BAM
                    - BBD
                    - BDT
                    - BGN
                    - BHD
                    - BIF
                    - BMD
                    - BND
                    - BOB
                    - BRL
                    - BSD
                    - BTN
                    - BWP
                    - BYN
                    - BYR
                    - BZD
                    - CAD
                    - CDF
                    - CHF
                    - CLF
                    - CLP
                    - CNY
                    - COP
                    - CRC
                    - CUC
                    - CUP
                    - CVE
                    - CZK
                    - DJF
                    - DKK
                    - DOP
                    - DOGE
                    - DZD
                    - EGP
                    - ERN
                    - ETB
                    - EUR
                    - FJD
                    - FKP
                    - FLOW
                    - FUSD
                    - GBP
                    - GEL
                    - GGP
                    - GHS
                    - GIP
                    - GMD
                    - GNF
                    - GTQ
                    - GYD
                    - HKD
                    - HNL
                    - HRK
                    - HTG
                    - HUF
                    - IDR
                    - ILS
                    - IMP
                    - INR
                    - IQD
                    - IRR
                    - ISK
                    - JEP
                    - JMD
                    - JOD
                    - JPY
                    - KES
                    - KGS
                    - KHR
                    - KMF
                    - KPW
                    - KRW
                    - KWD
                    - KYD
                    - KZT
                    - LAK
                    - LBP
                    - LKR
                    - LRD
                    - LSL
                    - LTL
                    - LVL
                    - LYD
                    - MAD
                    - MDL
                    - MGA
                    - MKD
                    - MMK
                    - MNT
                    - MOP
                    - MRO
                    - MUR
                    - MVR
                    - MWK
                    - MXN
                    - MYR
                    - MZN
                    - NAD
                    - NGN
                    - NIO
                    - NOK
                    - NPR
                    - NZD
                    - OMR
                    - PAB
                    - PEN
                    - PGK
                    - PHP
                    - PKR
                    - PLN
                    - PYG
                    - QAR
                    - RON
                    - RSD
                    - RUB
                    - RWF
                    - SAR
                    - SBD
                    - SCR
                    - SDG
                    - SEK
                    - SGD
                    - SHP
                    - SLL
                    - SOS
                    - SRD
                    - STD
                    - SVC
                    - SYP
                    - SZL
                    - THB
                    - TJS
                    - TMT
                    - TND
                    - TOP
                    - TRY
                    - TTD
                    - TWD
                    - TZS
                    - UAH
                    - UGX
                    - USD
                    - UYU
                    - UZS
                    - VEF
                    - VND
                    - VUV
                    - WST
                    - XAF
                    - XAG
                    - XAU
                    - XCD
                    - XDR
                    - XOF
                    - XPF
                    - YER
                    - ZAR
                    - ZMK
                    - ZMW
                    - ZWL
                  example: USD
                  maxLength: 3
                  minLength: 3
                  type: string
              required:
                - basePair
                - name
                - supply
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  id:
                    description: Account ID.
                    example: 5e68c66581f2ee32bc354087
                    type: string
                  balance:
                    properties:
                      accountBalance:
                        description: 'Account balance represents all assets on the account, available and blocked.'
                        example: '1000000'
                        type: string
                      availableBalance:
                        description: Available balance on the account represents account balance minus blocked amount on the account. Available balance should be user do determine how much can customer send or withdraw from the account.
                        example: '1000000'
                        type: string
                    type: object
                    required:
                      - accountBalance
                      - availableBalance
                  currency:
                    description: Currency of account.
                    example: BTC
                    type: string
                  frozen:
                    description: Indicates whether account is frozen or not.
                    example: false
                    type: boolean
                  active:
                    description: Indicates whether account is active or not.
                    example: true
                    type: boolean
                  customerId:
                    description: ID of newly created customer or existing customer associated with account.
                    type: string
                    example: 5e68c66581f2ee32bc354087
                  accountCode:
                    description: For bookkeeping to distinct account purpose.
                    example: 03_ACC_01
                    type: string
                  accountingCurrency:
                    description: All transaction will be accounted in this currency for all accounts.
                    example: EUR
                    type: string
                  xpub:
                    description: Extended public key to generate addresses from.
                    example: xpub6FB4LJzdKNkkpsjggFAGS2p34G48pqjtmSktmK2Ke3k1LKqm9ULsg8bGfDakYUrdhe2EHw5uGKX9DrMbrgYnVfDwrksT4ZVQ3vmgEruo3Ka
                    type: string
                required:
                  - id
                  - active
                  - frozen
                  - currency
                  - balance
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: virtual.name.prefix
                        example: virtual.name.prefix
                        type: string
                      message:
                        description: 'Tatum Virtual currency has wrong name, must start with VC_.'
                        example: 'Tatum Virtual currency has wrong name, must start with VC_.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: virtual.duplicate
                        example: virtual.duplicate
                        type: string
                      message:
                        description: Tatum Virtual currency with given name already exists.
                        example: Tatum Virtual currency with given name already exists.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: virtual.creation.error
                        example: virtual.creation.error
                        type: string
                      message:
                        description: It is not possible to create virtual currency.
                        example: It is not possible to create virtual currency.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
    put:
      description: <h4>2 credits per API call.</h4><br/><p>Change base pair and/or base rate of existing virtual currency.</p>
      operationId: updateCurrency
      summary: Update virtual currency
      tags:
        - Tatum Virtual currency
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: 'Tatum Virtual currency name, which will be updated. It is not possible to update the name of the virtual currency.'
                  example: VC_VIRTUAL
                  maxLength: 30
                  pattern: '^[a-zA-Z0-9_]+$'
                  minLength: 1
                  type: string
                baseRate:
                  type: number
                  example: 1
                  default: 1
                  minimum: 0
                  description: Exchange rate of the base pair. Each unit of the created curency will represent value of baseRate*1 basePair.
                basePair:
                  description: 'Base pair for virtual currency. Transaction value will be calculated according to this base pair. e.g. 1 VC_VIRTUAL is equal to 1 BTC, if basePair is set to BTC.'
                  enum:
                    - AED
                    - AFN
                    - ALL
                    - AMD
                    - ANG
                    - AOA
                    - ARS
                    - AUD
                    - AWG
                    - AZN
                    - BAM
                    - BAT
                    - BBD
                    - BCH
                    - BDT
                    - BGN
                    - BHD
                    - BIF
                    - BMD
                    - BND
                    - BOB
                    - BRL
                    - BSD
                    - BTC
                    - BTN
                    - BWP
                    - BYN
                    - BYR
                    - BZD
                    - CAD
                    - CDF
                    - CHF
                    - CLF
                    - CLP
                    - CNY
                    - COP
                    - CRC
                    - CUC
                    - CUP
                    - CVE
                    - CZK
                    - DJF
                    - DKK
                    - DOP
                    - DOGE
                    - DZD
                    - EGP
                    - ERN
                    - ETB
                    - ETH
                    - EUR
                    - FJD
                    - FKP
                    - FLOW
                    - FUSD
                    - FREE
                    - GMC
                    - GMC_BSC
                    - RMD
                    - GBP
                    - GEL
                    - GGP
                    - GHS
                    - GIP
                    - GMD
                    - GNF
                    - GTQ
                    - GYD
                    - HKD
                    - HNL
                    - HRK
                    - HTG
                    - HUF
                    - IDR
                    - ILS
                    - IMP
                    - INR
                    - IQD
                    - IRR
                    - ISK
                    - JEP
                    - JMD
                    - JOD
                    - JPY
                    - KES
                    - KGS
                    - KHR
                    - KMF
                    - KPW
                    - KRW
                    - KWD
                    - KYD
                    - KZT
                    - LAK
                    - LBP
                    - LEO
                    - LINK
                    - LKR
                    - LRD
                    - LSL
                    - LTC
                    - LTL
                    - LVL
                    - LYD
                    - MAD
                    - MDL
                    - MGA
                    - MKD
                    - MKR
                    - MMK
                    - MMY
                    - MNT
                    - MOP
                    - MRO
                    - MUR
                    - MVR
                    - MWK
                    - MXN
                    - MYR
                    - MZN
                    - NAD
                    - NGN
                    - NIO
                    - NOK
                    - NPR
                    - NZD
                    - OMR
                    - PAB
                    - PAX
                    - PAXG
                    - PEN
                    - PGK
                    - PHP
                    - PKR
                    - PLN
                    - PLTC
                    - PYG
                    - QAR
                    - RON
                    - RSD
                    - RUB
                    - RWF
                    - SAR
                    - SBD
                    - SCR
                    - SDG
                    - SEK
                    - SGD
                    - SHP
                    - SLL
                    - SOS
                    - SRD
                    - STD
                    - SVC
                    - SYP
                    - SZL
                    - THB
                    - TJS
                    - TMT
                    - TND
                    - TOP
                    - TRY
                    - TTD
                    - TRON
                    - TUSD
                    - BUSD
                    - TWD
                    - TZS
                    - UAH
                    - UGX
                    - UNI
                    - USD
                    - USDC
                    - USDT
                    - USDT_TRON
                    - USDT_MATIC
                    - QTUM
                    - UYU
                    - UZS
                    - VEF
                    - VND
                    - VUV
                    - WST
                    - XAF
                    - XAG
                    - XAU
                    - WBTC
                    - XCD
                    - XCON
                    - XDR
                    - XLM
                    - XOF
                    - XPF
                    - XRP
                    - YER
                    - ZAR
                    - ZMK
                    - ZMW
                    - ZWL
                  example: EUR
                  maxLength: 50
                  minLength: 3
                  type: string
              required:
                - name
              type: object
        required: true
      responses:
        '204':
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    description: vc.not.found
                    example: vc.not.found
                    type: string
                  message:
                    description: No such virtual currency.
                    example: No such virtual currency.
                    type: string
                  statusCode:
                    description: '403'
                    example: 403
                    type: number
                required:
                  - errorCode
                  - message
                  - statusCode
                type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  '/v3/ledger/virtualCurrency/{name}':
    get:
      description: <h4>1 credit per API call.</h4><br/><p>Get detail of virtual currency.<p>
      operationId: getCurrency
      summary: Get virtual currency
      tags:
        - Tatum Virtual currency
      parameters:
        - in: path
          name: name
          required: true
          schema:
            maxLength: 100
            minLength: 3
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  name:
                    description: Tatum Virtual currency name. Must be prefixed with 'VC_'.
                    example: VC_VIRTUAL
                    type: string
                  supply:
                    description: Supply of virtual currency.
                    example: '1000000'
                    type: string
                  accountId:
                    description: Tatum Virtual currency account.
                    example: 5e68c66581f2ee32bc354087
                    type: string
                  baseRate:
                    type: number
                    default: 1
                    description: Exchange rate of the base pair. Each unit of the created curency will represent value of baseRate*1 basePair.
                  basePair:
                    description: 'Base pair for virtual currency. Transaction value will be calculated according to this base pair. e.g. 1 VC_VIRTUAL is equal to 1 BTC, if basePair is set to BTC.'
                    enum:
                      - AED
                      - AFN
                      - ALL
                      - AMD
                      - ANG
                      - AOA
                      - ARS
                      - AUD
                      - AWG
                      - AZN
                      - BAM
                      - BAT
                      - BBD
                      - BCH
                      - BDT
                      - BGN
                      - BHD
                      - BIF
                      - BMD
                      - BND
                      - BOB
                      - BRL
                      - BSD
                      - BTC
                      - BTN
                      - BWP
                      - BYN
                      - BYR
                      - BZD
                      - CAD
                      - CDF
                      - CHF
                      - CLF
                      - CLP
                      - CNY
                      - COP
                      - CRC
                      - CUC
                      - CUP
                      - CVE
                      - CZK
                      - DJF
                      - DKK
                      - DOP
                      - DOGE
                      - DZD
                      - EGP
                      - ERN
                      - ETB
                      - ETH
                      - EUR
                      - FJD
                      - FKP
                      - FLOW
                      - FUSD
                      - FREE
                      - GMC
                      - GMC_BSC
                      - RMD
                      - GBP
                      - GEL
                      - GGP
                      - GHS
                      - GIP
                      - GMD
                      - GNF
                      - GTQ
                      - GYD
                      - HKD
                      - HNL
                      - HRK
                      - HTG
                      - HUF
                      - IDR
                      - ILS
                      - IMP
                      - INR
                      - IQD
                      - IRR
                      - ISK
                      - JEP
                      - JMD
                      - JOD
                      - JPY
                      - KES
                      - KGS
                      - KHR
                      - KMF
                      - KPW
                      - KRW
                      - KWD
                      - KYD
                      - KZT
                      - LAK
                      - LBP
                      - LEO
                      - LINK
                      - LKR
                      - LRD
                      - LSL
                      - LTC
                      - LTL
                      - LVL
                      - LYD
                      - MAD
                      - MDL
                      - MGA
                      - MKD
                      - MKR
                      - MMK
                      - MMY
                      - MNT
                      - MOP
                      - MRO
                      - MUR
                      - MVR
                      - MWK
                      - MXN
                      - MYR
                      - MZN
                      - NAD
                      - NGN
                      - NIO
                      - NOK
                      - NPR
                      - NZD
                      - OMR
                      - PAB
                      - PAX
                      - PAXG
                      - PEN
                      - PGK
                      - PHP
                      - PKR
                      - PLN
                      - PLTC
                      - PYG
                      - QAR
                      - RON
                      - RSD
                      - RUB
                      - RWF
                      - SAR
                      - SBD
                      - SCR
                      - SDG
                      - SEK
                      - SGD
                      - SHP
                      - SLL
                      - SOS
                      - SRD
                      - STD
                      - SVC
                      - SYP
                      - SZL
                      - THB
                      - TJS
                      - TMT
                      - TND
                      - TOP
                      - TRY
                      - TTD
                      - TRON
                      - TUSD
                      - BUSD
                      - TWD
                      - TZS
                      - UAH
                      - UGX
                      - UNI
                      - USD
                      - USDC
                      - USDT
                      - USDT_TRON
                      - USDT_MATIC
                      - QTUM
                      - UYU
                      - UZS
                      - VEF
                      - VND
                      - VUV
                      - WST
                      - XAF
                      - XAG
                      - XAU
                      - WBTC
                      - XCD
                      - XCON
                      - XDR
                      - XLM
                      - XOF
                      - XPF
                      - XRP
                      - YER
                      - ZAR
                      - ZMK
                      - ZMW
                      - ZWL
                    example: BTC
                    type: string
                  customerId:
                    description: ID of customer associated with virtual currency.
                    type: string
                    example: 5e68c66581f2ee32bc354087
                  description:
                    description: Used as a description within Tatum system.
                    example: My Virtual Token description.
                    type: string
                  erc20Address:
                    description: 'Address of ERC20 token, when virtual currency is based on the Ethereum blockchain.'
                    example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                    type: string
                  issuerAccount:
                    description: 'Blockchain account for XLM or XRP based virtual currencies, which is marked as the issuer of the custom blockchain asset.'
                    example: GDKYMXOAJ5MK4EVIHHNWRGAAOUZMNZYAETMHFCD6JCVBPZ77TUAZFPKT
                    type: string
                  chain:
                    description: 'Blockchain, on which this virtual currency is paired on. Not present, when Tatum''s private ledger is used as a base ledger.'
                    example: ETH
                    type: string
                    enum:
                      - ETH
                      - XRP
                      - XLM
                  initialAddress:
                    description: 'Ethereum address, where initial supply was minted, when virtual currency is based on the Ethereum blockchain.'
                    example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                    type: string
                required:
                  - basePair
                  - baseRate
                  - name
                  - accountId
                  - supply
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: vc.not.found
                        example: vc.not.found
                        type: string
                      message:
                        description: No such virtual currency.
                        example: No such virtual currency.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/ledger/virtualCurrency/mint:
    put:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Create new supply of virtual currency linked on the given accountId. Method increases the total supply of the currency.<br/>
        This method creates Ledger transaction with operationType MINT with undefined counterAccountId.<p>
      operationId: mintCurrency
      summary: Create new supply of virtual currency
      tags:
        - Tatum Virtual currency
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountId:
                  description: 'Ledger account with currency of the virtual currency, on which the operation will be performed.'
                  example: 5e68c66581f2ee32bc354087
                  maxLength: 24
                  minLength: 24
                  type: string
                amount:
                  description: Amount of virtual currency to operate within this operation.
                  maxLength: 38
                  example: '1.5'
                  type: string
                  pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                paymentId:
                  description: 'Identifier of the payment, shown for created Transaction within Tatum sender account.'
                  example: My Payment
                  maxLength: 100
                  minLength: 1
                  type: string
                reference:
                  description: Reference of the payment.
                  example: akjsndakjsdn-asd-kjasnd-asdkn-asdjnasjkdn
                  maxLength: 100
                  minLength: 1
                  type: string
                transactionCode:
                  description: For bookkeeping to distinct transaction purpose.
                  example: 1_01_EXTERNAL_CODE
                  maxLength: 100
                  minLength: 1
                  type: string
                recipientNote:
                  description: 'Note visible to both, sender and recipient. Available for both Mint and Revoke operations'
                  example: Private note
                  maxLength: 500
                  minLength: 1
                  type: string
                counterAccount:
                  description: 'External account identifier. By default, there is no counterAccount present in the transaction.'
                  example: 5e6645712b55823de7ea82f1
                  maxLength: 24
                  minLength: 24
                  type: string
                senderNote:
                  description: Note visible to sender. Available in Revoke operation.
                  example: Sender note
                  maxLength: 500
                  minLength: 1
                  type: string
              required:
                - accountId
                - amount
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  reference:
                    description: 'Transaction internal reference - unique identifier within Tatum ledger. In order of failure, use this value to search for problems.'
                    example: 0c64cc04-5412-4e57-a51c-ee5727939bcb
                    type: string
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: virtual.account.notValid
                        example: virtual.account.notValid
                        type: string
                      message:
                        description: 'Unable to perform operation on virtual currency, account does not exists.'
                        example: 'Unable to perform operation on virtual currency, account does not exists.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: virtual.tx.failed
                        example: virtual.tx.failed
                        type: string
                      message:
                        description: 'Unable to perform operation on virtual currency, impossible to store transaction.'
                        example: 'Unable to perform operation on virtual currency, impossible to store transaction.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: vc.not.found
                        example: vc.not.found
                        type: string
                      message:
                        description: No such virtual currency.
                        example: No such virtual currency.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: rate.not.found
                        example: rate.not.found
                        type: string
                      message:
                        description: No such currency rate.
                        example: No such currency rate.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: account.not.exists
                        example: account.not.exists
                        type: string
                      message:
                        description: No such account.
                        example: No such account.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/ledger/virtualCurrency/revoke:
    put:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Destroy supply of virtual currency linked on the given accountId. Method decreases the total supply of the currency.<br/>
        This method creates Ledger transaction with operationType REVOKE with undefined counterAccountId.</p>
      operationId: revokeCurrency
      summary: Destroy supply of virtual currency
      tags:
        - Tatum Virtual currency
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountId:
                  description: 'Ledger account with currency of the virtual currency, on which the operation will be performed.'
                  example: 5e68c66581f2ee32bc354087
                  maxLength: 24
                  minLength: 24
                  type: string
                amount:
                  description: Amount of virtual currency to operate within this operation.
                  maxLength: 38
                  example: '1.5'
                  type: string
                  pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                paymentId:
                  description: 'Identifier of the payment, shown for created Transaction within Tatum sender account.'
                  example: My Payment
                  maxLength: 100
                  minLength: 1
                  type: string
                reference:
                  description: Reference of the payment.
                  example: akjsndakjsdn-asd-kjasnd-asdkn-asdjnasjkdn
                  maxLength: 100
                  minLength: 1
                  type: string
                transactionCode:
                  description: For bookkeeping to distinct transaction purpose.
                  example: 1_01_EXTERNAL_CODE
                  maxLength: 100
                  minLength: 1
                  type: string
                recipientNote:
                  description: 'Note visible to both, sender and recipient. Available for both Mint and Revoke operations'
                  example: Private note
                  maxLength: 500
                  minLength: 1
                  type: string
                counterAccount:
                  description: 'External account identifier. By default, there is no counterAccount present in the transaction.'
                  example: 5e6645712b55823de7ea82f1
                  maxLength: 24
                  minLength: 24
                  type: string
                senderNote:
                  description: Note visible to sender. Available in Revoke operation.
                  example: Sender note
                  maxLength: 500
                  minLength: 1
                  type: string
              required:
                - accountId
                - amount
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  reference:
                    description: 'Transaction internal reference - unique identifier within Tatum ledger. In order of failure, use this value to search for problems.'
                    example: 0c64cc04-5412-4e57-a51c-ee5727939bcb
                    type: string
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: virtual.account.notValid
                        example: virtual.account.notValid
                        type: string
                      message:
                        description: 'Unable to perform operation on virtual currency, account does not exists.'
                        example: 'Unable to perform operation on virtual currency, account does not exists.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: virtual.tx.failed
                        example: virtual.tx.failed
                        type: string
                      message:
                        description: 'Unable to perform operation on virtual currency, impossible to store transaction.'
                        example: 'Unable to perform operation on virtual currency, impossible to store transaction.'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: vc.not.found
                        example: vc.not.found
                        type: string
                      message:
                        description: No such virtual currency.
                        example: No such virtual currency.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: rate.not.found
                        example: rate.not.found
                        type: string
                      message:
                        description: No such currency rate.
                        example: No such currency rate.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: account.not.exists
                        example: account.not.exists
                        type: string
                      message:
                        description: No such account.
                        example: No such account.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        description: virtual.account.balance
                        example: virtual.account.balance
                        type: string
                      message:
                        description: Insufficient balance to revoke virtual currency on account.
                        example: Insufficient balance to revoke virtual currency on account.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/offchain/ethereum/erc20:
    post:
      deprecated: true
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>This method is deprecated. Use <a href="#operation/registerErc20Token">Register token</a> instead.</p>
        <p>First step to create new ERC20 token with given supply on Ethereum blockchain with support of Tatum's private ledger.<br/>
        This method only creates Tatum Private ledger virtual currency with predefined parameters. It will not generate any blockchain smart contract.<br/>
        The whole supply of ERC20 token is stored in the customer's newly created account. Then it is possible to create new Tatum accounts with ERC20 token name as account's currency.<br/>
        Newly created account is frozen until the specific ERC20 smart contract address is linked with the Tatum virtual currency, representing the token.<br/>
        Order of the steps to create ERC20 smart contract with Tatum private ledger support:
        <ol>
        <li><a href="#operation/registerErc20Token">Create ERC20 token</a> - creates a virtual currency within Tatum</li>
        <li><a href="#operation/EthDeployErc20Blockchain">Deploy ERC20 smart contract</a> - create new ERC20 smart contract on the blockchain</li>
        <li><a href="#operation/storeTokenAddress">Store ERC20 smart contract address</a> - link newly created ERC20 smart contract address with Tatum virtual currency - this operation enables frozen account and enables ledger synchronization for ERC20 Tatum accounts</li>
        </ol>
        There is a helper method <a href="#operation/EthDeployErc20">Deploy Ethereum ERC20 Smart Contract to Blockchain and Ledger</a>, which wraps first 2 steps into 1 method.<br/>
        Address on the blockchain, where all initial supply will be transferred, can be defined via the address or xpub and derivationIndex. When xpub is present, the account connected to this virtualCurrency will be set as the account's xpub.
        </p>
      operationId: createErc20
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - properties:
                    symbol:
                      description: ERC20/BEP20 token name. Used as a identifier within Tatum system and also in blockchain as a currency symbol.
                      example: MY_TOKEN
                      maxLength: 30
                      minLength: 1
                      pattern: '^[a-zA-Z0-9_]+$'
                      type: string
                    supply:
                      description: Supply of ERC20/BEP20 token.
                      maxLength: 38
                      example: '1000000.0'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    decimals:
                      description: Decimals of ERC20/BEP20 token.
                      minimum: 0
                      example: 8
                      type: number
                    description:
                      description: Used as a description within Tatum system and in blockchain as a currency name.
                      example: My Public Token
                      maxLength: 100
                      minLength: 1
                      type: string
                    basePair:
                      description: Base pair for ERC20/BEP20 token. Transaction value will be calculated according to this base pair.
                      enum:
                        - AED
                        - AFN
                        - ALL
                        - AMD
                        - ANG
                        - AOA
                        - ARS
                        - AUD
                        - AWG
                        - AZN
                        - BAM
                        - BAT
                        - BBD
                        - BCH
                        - BDT
                        - BGN
                        - BHD
                        - BIF
                        - BMD
                        - BND
                        - BOB
                        - BRL
                        - BSD
                        - BTC
                        - BTN
                        - BWP
                        - BYN
                        - BYR
                        - BZD
                        - CAD
                        - CDF
                        - CELO
                        - CEUR
                        - CHF
                        - CLF
                        - CLP
                        - CNY
                        - COP
                        - CRC
                        - CUC
                        - CUP
                        - CUSD
                        - CVE
                        - CZK
                        - DJF
                        - DKK
                        - DOP
                        - DOGE
                        - DZD
                        - EGP
                        - ERN
                        - ETB
                        - ETH
                        - EUR
                        - FJD
                        - FKP
                        - FLOW
                        - FUSD
                        - FREE
                        - GMC
                        - GMC_BSC
                        - RMD
                        - GBP
                        - GEL
                        - GGP
                        - GHS
                        - GIP
                        - GMD
                        - GNF
                        - GTQ
                        - GYD
                        - HKD
                        - HNL
                        - HRK
                        - HTG
                        - HUF
                        - IDR
                        - ILS
                        - IMP
                        - INR
                        - IQD
                        - IRR
                        - ISK
                        - JEP
                        - JMD
                        - JOD
                        - JPY
                        - KES
                        - KGS
                        - KHR
                        - KMF
                        - KPW
                        - KRW
                        - KWD
                        - KYD
                        - KZT
                        - LAK
                        - LBP
                        - LEO
                        - LINK
                        - LKR
                        - LRD
                        - LSL
                        - LTC
                        - LTL
                        - LVL
                        - LYD
                        - MAD
                        - MDL
                        - MGA
                        - MKD
                        - MKR
                        - MMK
                        - MMY
                        - MNT
                        - MOP
                        - MRO
                        - MUR
                        - MVR
                        - MWK
                        - MXN
                        - MYR
                        - MZN
                        - NAD
                        - NGN
                        - NIO
                        - NOK
                        - NPR
                        - NZD
                        - OMR
                        - PAB
                        - PAX
                        - PAXG
                        - PEN
                        - PGK
                        - PHP
                        - PKR
                        - PLN
                        - PLTC
                        - PYG
                        - QAR
                        - RON
                        - RSD
                        - RUB
                        - RWF
                        - SAR
                        - SBD
                        - SCR
                        - SDG
                        - SEK
                        - SGD
                        - SHP
                        - SLL
                        - SOS
                        - SRD
                        - STD
                        - SVC
                        - SYP
                        - SZL
                        - THB
                        - TJS
                        - TMT
                        - TND
                        - TOP
                        - TRY
                        - TTD
                        - TRON
                        - TUSD
                        - BUSD
                        - TWD
                        - TZS
                        - UAH
                        - UGX
                        - UNI
                        - USD
                        - USDC
                        - USDT
                        - USDT_TRON
                        - USDT_MATIC
                        - QTUM
                        - UYU
                        - UZS
                        - VEF
                        - VND
                        - VUV
                        - WBTC
                        - WST
                        - XAF
                        - XAG
                        - XAU
                        - XCD
                        - XCON
                        - XDR
                        - XLM
                        - XOF
                        - XPF
                        - XRP
                        - YER
                        - ZAR
                        - ZMK
                        - ZMW
                        - ZWL
                      example: EUR
                      maxLength: 50
                      minLength: 3
                      type: string
                    baseRate:
                      type: number
                      example: 1
                      default: 1
                      minimum: 0
                      description: Exchange rate of the base pair. Each unit of the created curency will represent value of baseRate*1 basePair.
                    customer:
                      properties:
                        accountingCurrency:
                          description: 'All transaction will be accounted in this currency for all accounts. Currency can be overridden per account level. If not set, EUR is used. ISO-4217'
                          enum:
                            - AED
                            - AFN
                            - ALL
                            - AMD
                            - ANG
                            - AOA
                            - ARS
                            - AUD
                            - AWG
                            - AZN
                            - BAM
                            - BBD
                            - BDT
                            - BGN
                            - BHD
                            - BIF
                            - BMD
                            - BND
                            - BOB
                            - BRL
                            - BSD
                            - BTN
                            - BWP
                            - BYN
                            - BYR
                            - BZD
                            - CAD
                            - CDF
                            - CHF
                            - CLF
                            - CLP
                            - CNY
                            - COP
                            - CRC
                            - CUC
                            - CUP
                            - CVE
                            - CZK
                            - DJF
                            - DKK
                            - DOP
                            - DOGE
                            - DZD
                            - EGP
                            - ERN
                            - ETB
                            - EUR
                            - FJD
                            - FKP
                            - FLOW
                            - FUSD
                            - GBP
                            - GEL
                            - GGP
                            - GHS
                            - GIP
                            - GMD
                            - GNF
                            - GTQ
                            - GYD
                            - HKD
                            - HNL
                            - HRK
                            - HTG
                            - HUF
                            - IDR
                            - ILS
                            - IMP
                            - INR
                            - IQD
                            - IRR
                            - ISK
                            - JEP
                            - JMD
                            - JOD
                            - JPY
                            - KES
                            - KGS
                            - KHR
                            - KMF
                            - KPW
                            - KRW
                            - KWD
                            - KYD
                            - KZT
                            - LAK
                            - LBP
                            - LKR
                            - LRD
                            - LSL
                            - LTL
                            - LVL
                            - LYD
                            - MAD
                            - MDL
                            - MGA
                            - MKD
                            - MMK
                            - MNT
                            - MOP
                            - MRO
                            - MUR
                            - MVR
                            - MWK
                            - MXN
                            - MYR
                            - MZN
                            - NAD
                            - NGN
                            - NIO
                            - NOK
                            - NPR
                            - NZD
                            - OMR
                            - PAB
                            - PEN
                            - PGK
                            - PHP
                            - PKR
                            - PLN
                            - PYG
                            - QAR
                            - RON
                            - RSD
                            - RUB
                            - RWF
                            - SAR
                            - SBD
                            - SCR
                            - SDG
                            - SEK
                            - SGD
                            - SHP
                            - SLL
                            - SOS
                            - SRD
                            - STD
                            - SVC
                            - SYP
                            - SZL
                            - THB
                            - TJS
                            - TMT
                            - TND
                            - TOP
                            - TRY
                            - TTD
                            - TWD
                            - TZS
                            - UAH
                            - UGX
                            - USD
                            - UYU
                            - UZS
                            - VEF
                            - VND
                            - VUV
                            - WST
                            - XAF
                            - XAG
                            - XAU
                            - XCD
                            - XDR
                            - XOF
                            - XPF
                            - YER
                            - ZAR
                            - ZMK
                            - ZMW
                            - ZWL
                          example: USD
                          maxLength: 3
                          minLength: 3
                          type: string
                        customerCountry:
                          description: Country customer has to be compliant with. ISO-3166-1
                          example: US
                          maxLength: 2
                          minLength: 2
                          type: string
                        externalId:
                          description: Customer external ID. Use only anonymized identification you have in your system. If customer with externalId does not exists new customer is created. If customer with specified externalId already exists it is updated.
                          example: '123654'
[...]
